.card-text{
    height: 13em;
    overflow: hidden;
}
.card-body{
    height: 21em;
}
.crop-image{
    position: relative;
    overflow: hidden;
    margin: 8px;
    height: 10em;
}

.crop-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
